.player-card-outer-container{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.player-results-table{
    word-wrap: break-word;
}

.player-results-table table{
    border: 1px solid var(--white-text);
    word-wrap: break-word;
    table-layout: fixed;
    width: 100%;
}

.player-results-table th {
    border: 1px solid var(--white-text);
}
  
.player-results-table td {
    border: 1px solid var(--white-text);
    word-wrap: break-word;
}

